*, *:before, *:after {
  box-sizing: border-box;
}

.contents_area {
  width: 1100px;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
}

.header {
  position: fixed;
  z-index: 2;
  top: 0px;
  left: 0px;
  padding: 15px 0;
  width: 100%;
  background-color: #FFF;
}

.header_inner {
  position:relative;
}

.icon_bolt {
  font-size: 4em;
  color: #727272;
}

.header_btn {
  position: absolute;
  right: 0px;
  padding: 14px 12px;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: #74cfae;
  font-size: 12px;
  color: #FFF;
  transition: all 300ms 0s ease;
}

.header_btn:hover {
  color: #333;
}

.main_visual {
  margin-top: 94px;
  padding: 250px 0px;
  background-color: #f2f2f2;
}

.main_visual_inner {
  text-align: center;
}

.main_visual_title {
  margin-bottom: 20px;
  font-size: 90px;
  font-weight: 700;
  word-spacing: 5px;
  color: #74cfae;
}

.main_visual_subtitle {
  font-size: 30px;
  color: #c0c0c0;
}

.about {
  padding-top: 50px;
  background-color: #74cfae;
}

.outer_iphone {
  display: inline-block;
  width: 400px;
  text-align: center;
}

.about_textbox {
  width: 700px;
  float: right;
  text-align: center;
  line-height: 1.3;
}

.about_title {
  margin-bottom: 35px;
  font-size: 24px;
  color: #FFF;
}

.about_description {
  font-size: 20px;
  color: #FFF;
}
/*  our_latest_work  */
.work {
  padding: 60px 0 70px 0;
  background-color: #f2f2f2;
  text-align: center;
}

.work_inner {

}

.work_title {
  margin-bottom: 40px;
  font-size: 24px;
}

.flex_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex_item {
  margin-bottom: 80px;
  opacity:0.7;
  transition: opacity 300ms 0s ease;
}

.flex_item:hover {
  opacity: 1;
}
.work_about {
  margin-top: 10px;
  font-size:0;
}

.work_about_text {
  display: inline-block;
  width: 60%;
  margin-right: 90px;
  font-size: 21px;
  word-spacing: 2px;
}

.mail-btn {
  display: inline-block;
  vertical-align: top;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: #74cfae;
  font-size: 12px;
  color: #FFF;
  transition: all 300ms 0s ease;
}

.mail-btn:hover {
  color: #333;
}

.our_skills {
  padding: 70px 0 100px 0;
  background-color: #4e4e4e;
  color: #FFF;
}

.our_skills_inner {
  text-align: center;
}

.our_skills_title {
  margin-bottom: 40px;
  font-size: 24px;
}

.circle_graph {
  display: inline-block;
  margin-left: 180px;
}

.our_skills_inner h1 + figure {
  margin-left: 0;
}

figcaption {
  margin-top: 16px;
}

.sns {
  padding: 200px 0;
  background-color: #f2f2f2;
}

.sns ul {
  text-align: center;
}

.sns li {
  display: inline-block;
  width: 185px;
  padding: 30px;
  transition: all 300ms 0s ease;
}

.sns li:hover {
  background-color: #FFF;
}

.sns .fa {
  font-size: 3em;
  color: #74cfac;

}

.footer {
  padding: 20px 0 25px 0;
  background-color: #74cfae;
}

.footer_inner {
  text-align: right;
}

.copy_right {
  color: #FFF;
}
